<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/menu.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- Delete Button -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>

<body>
    <%- include ("layout.ejs") %>

    <!-- Page Content -->
    <div class="container font">

        <div class="row">

            <div class="col-lg-3">

                <h1 class="my-4"><%= shopName %></h1>
                <div class="list-group">

                    <% categoriesList.forEach((categories) => { %>
                    <li class="list-group-item"><a
                            href="/<%= categories.categoryId %>"><%= categories.categoryName %></a>
                    </li>
                    <% }); %>
                    <a href="/addcategory" class="list-group-item add"
                        >เพิ่มประเภทสินค้า</a>
                </div>

                <div class="list-group addproduct">
                    <a href="/addproduct" class="list-group-item add"
                       >เพิ่มสินค้า</a>
                </div>

            </div>

            <!-- /.col-lg-3 -->

            <div class="col-lg-9">

                <div class="row">
                    <% menuList.forEach((menu) => { %>

                    <div class="col-lg-4 col-md-6 mb-4" id="menuList">
                        <div class="card h-100">
                            <img class="card-img-top" src="http://localhost:3000/addproduct/image/<%= menu.menuImg %>"
                                alt="">

                            <div class="card-body">
                                <h4 class="card-title">
                                    <%= menu.menuName %>
                                </h4>
                                <h5><%= menu.price %> บาท</h5>
                                <p class="card-text"><%= menu.menuDetail %></p>
                            </div>
                            <div class="card-footer">

                                <button class="get-data btn shop-item-button deletebutton" value="Delete"
                                    data-toggle="modal" data-target="#myModal"> ลบสินค้า </button>

                                <!-- Modal -->
                                <div class="modal fade font" id="myModal" role="dialog">
                                    <div class="modal-dialog">
                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-body title-popover">
                                                <p>ยืนยันการลบสินค้า</p>
                                            </div>
                                            <div class="modal-footer">
                                                <form action="/<%=menu.category%>/<%= menu.menuId %>/deleteMenu"
                                                    method="POST">
                                                    <button type="submit" class="btn btn-default btn-popover"
                                                        value="Delete">ยืนยัน</button>
                                                </form>

                                                <button type="button" class="btn btn-default"
                                                    data-dismiss="modal">ยกเลิก</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                    <% }); %>
                </div>

            </div>
            <!-- /.col-lg-9 -->

        </div>

    </div>
    <!-- /.container -->

    <div id="overlay">
        <div class="spinner"></div>
    </div>

</body>

<script>
    var overlay = document.getElementById("overlay");

    window.addEventListener('load', function () {
        overlay.style.display = 'none';
    })
</script>

</html>